<nav class="c-footer__nav">
  <div class="c-footer__nav-section">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">DocuWalk</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}product" class="c-footer-nav__item w-inline-block">
          <div>What Is Docuwalk</div>
        </a>
        <a href="/{{{block "url-prefix"}}}product" class="c-footer-nav__item w-inline-block">
          <div>How it Works</div>
        </a>
        <a href="/{{{block "url-prefix"}}}product" class="c-footer-nav__item w-inline-block">
          <div>New Features</div>
        </a>
        <a href="//app.docuwalk.com/login" class="c-footer-nav__item w-inline-block">
          <div>Sign In</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#plans" class="c-footer-nav__item w-inline-block">
          <div>Sign Up</div>
        </a>
      </div>
    </div>
  </div>

  <div class="c-footer__nav-section">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">Industries</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}industries-real-estate" class="c-footer-nav__item w-inline-block">
          <div>Real Estate</div>
        </a>
        <a href="/{{{block "url-prefix"}}}industries-small-business" class="c-footer-nav__item w-inline-block">
          <div>Small Business</div>
        </a>
        <a href="/{{{block "url-prefix"}}}industries-legal" class="c-footer-nav__item w-inline-block">
          <div>Legal</div>
        </a>
        <a href="/{{{block "url-prefix"}}}industries-government" class="c-footer-nav__item w-inline-block">
          <div>Government</div>
        </a>
      </div>
    </div>
  </div>

  <div class="c-footer__nav-section">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">Resources</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}faq" class="c-footer-nav__item w-inline-block">
          <div>FAQ</div>
        </a>
        <!--
        <a href="/{{{block "url-prefix"}}}training-and-tutorials" class="c-footer-nav__item w-inline-block">
          <div>Tutorials</div>
        </a>
        -->
        <a href="/{{{block "url-prefix"}}}customer-service" class="c-footer-nav__item w-inline-block">
          <div>Customer Service</div>
        </a>
        <a href="/{{{block "url-prefix"}}}partner-program" class="c-footer-nav__item w-inline-block">
          <div>Get Certified</div>
        </a>
        <a href="/{{{block "url-prefix"}}}partner-program" class="c-footer-nav__item w-inline-block">
          <div>Partners</div>
        </a>
        <!-- <a href="#addALinkToThePage" class="c-footer-nav__item w-inline-block">
          <div>Developer Portal</div>
        </a> -->
      </div>
    </div>
  </div>

  <div class="c-footer__nav-section">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">Pricing</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}pricing#basic" class="c-footer-nav__item w-inline-block">
          <div>Basic</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#premium" class="c-footer-nav__item w-inline-block">
          <div>Premium</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#teams" class="c-footer-nav__item w-inline-block">
          <div>Teams</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#enterprise" class="c-footer-nav__item w-inline-block">
          <div>Enterprise</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#try" class="c-footer-nav__item w-inline-block">
          <div>Try for Free</div>
        </a>
        <a href="/{{{block "url-prefix"}}}pricing#comparison-table" class="c-footer-nav__item w-inline-block">
          <div>Compare Features</div>
        </a>
      </div>
    </div>
  </div>

  <div class="c-footer__nav-section ">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">Company</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}about-us" class="c-footer-nav__item w-inline-block">
          <div>About Us</div>
        </a>
        <a href="/{{{block "url-prefix"}}}news" class="c-footer-nav__item w-inline-block h-stage-one--hide">
          <div>News / Press</div>
        </a>
        <a href="/{{{block "url-prefix"}}}investor-relations" class="c-footer-nav__item w-inline-block h-stage-one--hide">
          <div>Investor Relations</div>
        </a>
        <a href="/{{{block "url-prefix"}}}media-relations" class="c-footer-nav__item w-inline-block h-stage-one--hide">
          <div>Media Kit</div>
        </a>
        <a href="/{{{block "url-prefix"}}}careers" class="c-footer-nav__item w-inline-block h-stage-one--hide">
          <div>Careers</div>
        </a>
        <a href="/{{{block "url-prefix"}}}legal-privacy-policy-and-prominent-disclosures" class="c-footer-nav__item w-inline-block">
          <div>Privacy</div>
        </a>
      </div>
    </div>
  </div>

  <div class="c-footer__nav-section">
    <div class="c-footer-nav">
      <h3 class="c-footer-nav__header">Legal</h3>
      <div class="c-footer-nav__list">
        <a href="/{{{block "url-prefix"}}}legal-terms-and-conditions" class="c-footer-nav__item w-inline-block">
          <div>Terms and Conditions</div>
        </a>
        <!-- <a href="legal/real-property-transactional-services-terms-of-use.html" class="c-footer-nav__item w-inline-block">
          <div>Real Property Transactional Services Terms of Use</div>
        </a> -->
        <a href="/{{{block "url-prefix"}}}legal-privacy-policy-and-prominent-disclosures" class="c-footer-nav__item w-inline-block">
          <div>Privacy Policy and Prominent Disclosures</div>
        </a>
        <!-- <a href="legal/community-standards.html" class="c-footer-nav__item w-inline-block">
          <div>Community Standards</div>
        </a> -->
        <!-- <a href="legal/acceptable-use-policy.html" class="c-footer-nav__item w-inline-block">
          <div>Acceptable Use Policy</div>
        </a> -->
      </div>
    </div>
  </div>
</nav>